h1 {
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-2/pattern.jpeg?_gl=1*qcpelx*_ga*MDMyODY1MDU5OC4xNjU5MTgwMjAw*_ga_3LRZM6TM9L*MTY2MTQxMzQzNC41MS4xLjE2NjE0MTM0NTcuMzcuMC4w");
    padding: 18px auto;
}
.item {
    display: block;
}
.gr-line {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: mediumspringgreen;
}
.red-line {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: lightcoral
}
.blue-line {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: skyblue
}
#strong-blue {
    font-family: Helvetica;
    font-weight: bold;
    color: blue;
}